div[gdArea="header"] {
  height: 64px;
  position: relative;
}

div[gdArea="content"] {
  margin-top: 25px;
}

.header-back {
  margin-left: 5px;
}

.header-title {
  font-size: 48px;
}

.header-list {
  margin-right: 5px;
}
